#main {
  align-items: center;
  margin: auto;
  align-items: center;
}
#root {
  margin: auto;
  align-items: center;
}
#gor {
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 850px;
  width: 850px;
}
#vert {
  flex-direction: column;
  height: 850px;
  width: 850px;
  border: solid 1px;
}
.sq {
  display: inline;
  align-items: center;
  height: 50px;
  width: 50px;
}
.sqrow {
  align-items: center;
  height: 50px;
  width: 850px;
}
body {
  margin: 0px;
}


